body {
  background: #FDFDF1;
  margin-top: 100px;
}

a {text-decoration: none;}
a:link {color: black;}
a:visited {color:#900C3F;}
a:hover {background-color: #FCE5EE; border-radius: 5px;}

button {
  height: 30px;
  color: white;
  background-color: #900C3F;
  border-radius: 5px;
  border: none;
}
button:hover {background: #E01563;}

#dibutton {
  height: 30px;
  color: white;
  background: #900C3F;
  border-radius: 5px;
  border: none;
}

/*참고: https://www.walterz.net/2017/07/31/css-%EA%B9%94%EB%81%94%ED%95%9C-%EB%AA%A9%EB%A1%9D-%EC%8A%A4%ED%83%80%EC%9D%BC-css-list-style/ */
li {
  list-style: circle;
  padding: 5px 0px 5px 5px;
}
li:last-child {border-bottom: 0px;}

.foot {
  font-size:15px;
  font-weight:bold; 
  color: #F5C0D4;
  padding-bottom: 5px;
  border-bottom: 1px solid #F5C0D4;
  border-radius: 5px;
}
.foot:hover {
  background: #FDFDF1;
}

.contents {
  margin: auto;
  width: 500px;
  padding-bottom: 10px;
  border-bottom: 1px solid #900C3F;
}